<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Logout</h1>
    <!--<h2>{{profileData.name}}</h2>-->
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <label class="item">
    <h2>Hello {{profileData.name}}, how are you?</h2>
    </label>
     <label class="item">
    <h3>Not {{profileData.name}}?</h3>
    </label>
        <label class="item">
        <button class="button button-block button-positive" ng-click="startLogout()">Logout</button>
        </label>
  </ion-content>
</ion-modal-view>
